@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Inter Tight", sans-serif;
  --color-bloom-black: #000000;
  --color-bloom-charcoal: #111111;
  --color-bloom-card: #161616;
  --color-bloom-gray: #A1A1AA;
  --color-bloom-border: rgba(255, 255, 255, 0.1);
}

@layer base {
  body {
    @apply bg-bloom-black text-white font-sans antialiased;
  }
}